@media screen and (max-width:992px) {
  .top_nav {
    display: none;
  }
  .main_section {
    text-align: left;
  }
  .footer_second {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .top_nav {
    display: none;
  }
  .main_section {
    text-align: left;
  }
   .recht_p {
    padding-bottom: 0;
  }
   .footer_second {
    text-align: center;
  }
  .footer_icons {
    padding-bottom:0;
  }
  .footer_first {
    padding-bottom: 90px;
  }
/*
  .recht {
    padding-bottom: 0px;
  }
*/
  
}

@media screen and (max-width:480px) {
  .main_section {
    background-image: none;
    background-color: #7F7F7F;
  }
  .main_h {
    text-align: center;
  }
  .main_h2 {
    text-align: center;
  }
  .logo img {
    width: 150px;
  }
  .recht_p {
    padding-bottom: 0;
  }
   .footer_nav li {
    display: block;
    text-align: left;
    float: left;
    width: 50%;
  }
  .gebuhren p {
    font-size:16px;
  }
  .footer_icons {
    padding-bottom:0;
  }
  .main_h {
    font-size: 18px;
  }
  .contact_h {
    font-size: 18px;
  }
  .hhh {
    font-size: 18px;
    padding-top: 30px; 
  }
  .recht_p {
    font-size: 16px;
  }
}