@media screen and (max-width:992px) {
  .top_nav {
    display: none;
  }
  .main_section {
    text-align: left;
  }
   .footer_first {
    padding-bottom: 120px;
  }
  .footer_second {
    text-align: center;
  }
  .footer_icons {
    padding-bottom: 0;
  }
  .hhh {
    padding-top: 33px;
  }
  .recht {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .top_nav {
    display: none;
  }
  .main_section {
    text-align: center;
  }
  .main_section {
    background-image: none;
    background-color: #7F7F7F;
  }
   .recht_p {
    padding-bottom: 0;
  }
   .footer_second {
    text-align: center;
  }
  .footer_icons {
    padding-bottom:0;
  }
  .footer_first {
    padding-bottom: 120px;
  }
/*
  .recht {
    padding-bottom: 0px;
  }
*/
  
}

@media screen and (max-width:480px) {
  .main_section {
    background-image: none;
    background-color: #7F7F7F;
  }
  .main_h {
    text-align: center;
  }
  .main_h2 {
    text-align: center;
  }
  .logo img {
    width: 150px;
  }
  .recht_p {
    padding-bottom: 0;
  }
  .footer_nav li {
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .gebuhren p {
    font-size:16px;
  }
  .footer_icons {
    padding-bottom:0;
  }
  .main_h {
    font-size: 18px;
  }
  .contact_h {
    font-size: 18px;
  }
  .footer_first {
    padding-bottom: 160px;
  }
  .hhh {
    font-size: 18px;
    padding-top: 30px; 
  }
  .recht_p {
    font-size: 16px;
  }
}

@media screen and (max-width : 320px) {
  .footer_nav li {
    display: block;
    text-align: center;
    width: 100%;
    padding-right: 0;
  }
  .footer_first {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 190px;
  }
  .contact_f {
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;

  }
   .footer_nav li {
    display: block;
    width: 100%;
  }
  .common_style {
    background-image: none;
  }
}