.main_head {
  background-color: #F6F6F6;
 font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 33px;
  font-weight: 700;
  min-height: 120px;
}

.top_nav li a {
  color: #9D9D9D;
  text-decoration: none;
}

.top_nav a:hover {
  color: #56151E;
}

.top_nav li a.active {
  color: #56151E;
}

.top_nav ul {
  margin: 0;
  padding: 0;
}

.top_nav ul li {
  list-style-type: none;
  padding-right: 15px;
}

.top_nav li {
  display: inline-block;
  line-height: 59px;
}

.dropdown-menu {
  line-height: 35px;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
}

.logo img {
  width: 319px;
}

.main_section {
  font-family: 'Open Sans', sans-serif;
/*  background-image: url("cover.jpg") center center cover no-repeat fixed;*/
  color: #fff;
  background-position: left left;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 40px;
}

.section_contact {
  background-color: #F6F6F6;
  font-family: 'Raleway', sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section_rechtsanwalt {
  font-family: 'Open Sans', sans-serif;
  background-color: #838383;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 70px;
}

.section_rechtsanwalt p {
  overflow: hidden;
  font-size: 16px;
  color: #F6F6F6;
  line-height: 25px;
}

.footer_first {
  background-color: #BBBBBB;
  color: #454545;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 30px;
}

.footer_first a {
  color: #454545;
  text-decoration: underline;
}

.footer_first a:visited {
  color: #f6f6f6;
}

.footer_first a:hover {
  color: #000;
}

.footer_first a:active {
  color: #fff;
}
.footer_icons {
    padding-top: 20px;

}
.footer_icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 6px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer_icons .f_icon:hover {
  color: #4286f4;
  background-color: #fff;
}

.footer_icons .g_icon:hover {
  color: #fc4d3a;
  background-color: #fff;
}

.footer_second {
  background-color: #454545;
  color: #BBBBBB;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer_nav li {
  display: inline-block;
  text-decoration: none;
  padding-right: 45px;
}

.footer_nav li a {
  color: #F6F6F6;
  text-decoration: none;
}
download_li ul {
 list-style-type: none;
  
}
.hh {
  text-align: center;
  line-height: 45px;
}

.hh1 {
  color: #15264C;
  line-height: 40px;
}

.contact_h {
  font-size: 22px;
  color: #666665;
  line-height: 30px;
  font-weight: 800;
  padding-bottom: 40px;
}

.contact_p {
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
/*  letter-spacing: 0px;*/
}

.hhh {
  font-weight: 900;
  font-size: 30px;
  color: #56151E;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-square {
  float: left;
  padding-right: 15px;
  padding-top: 5px;
}

.fa-map-marker,
.fa-phone,
.fa-envelope {
  float: left;
  padding-right: 7px;
  padding-top: 2px;
}

.fa-fax {
  float: left;
  padding-right: 7px;
}
.fa-caret-down {
  padding-left: 7px;
}

.common_style {
  background-image: url("http://www.kanzlei-kienert.de/images/rechtsanwalt-kevin-kienert.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.gebuhren {
  background-color: #fff;
  background-image: none;

}
.gebuhren h3 {
  color:#56151E;
}
.contact_f {
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 15px;
}
.presse {
  background-color: #A8A8A8;
  color:#fff;
}
.presse h3 {
  color:#56151E;
}
.presse a {
  color:#fff;
}
.presse a:visited {
  color:#000;
}
.presse a:hover {
  color:#000;
}